@using System.Security.Claims
@using Blink3.Core.Models
@inherits LayoutComponentBase
@inject NavigationManager Navigation;
@inject HttpClient Client;

<div class="page">
    <Sidebar2 @ref="_sidebar"
              IconName="IconName.BootstrapFill"
              Title="Blink3"
              DataProvider="SidebarDataProvider"/>

    <main>
        <div class="top-row px-4">
            <LoginDisplay/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* ReSharper disable InconsistentNaming *@

@code {
    Sidebar2 _sidebar = null!;
    List<NavItem>? _navItems;

    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        Navigation.LocationChanged += async (_, _) =>
        {
            await GetNavItems();
            await _sidebar.RefreshDataAsync();
        };

        return Task.CompletedTask;
    }

    private async Task<Sidebar2DataProviderResult> SidebarDataProvider(Sidebar2DataProviderRequest request)
    {
        _navItems ??= await GetNavItems();

        return await Task.FromResult(request.ApplyTo(_navItems));
    }

    private async Task<List<NavItem>> GetNavItems()
    {
        _navItems = new List<NavItem>
        {
            new()
            {
                Id = "1",
                Href = "/",
                IconName = IconName.HouseDoorFill,
                Text = "Home",
                Match = NavLinkMatch.All
            }
        };

        AuthenticationState authState = await authenticationStateTask;
        ClaimsPrincipal user = authState.User;

        if (user.Identity?.IsAuthenticated is not true) return _navItems;
        
        _navItems.Add(new NavItem
        {
            Id = "2",
            Href = "/todo",
            IconName = IconName.PencilFill,
            Text = "Todo list"
        });
        
        IEnumerable<DiscordPartialGuild>? guilds = await Client.GetFromJsonAsync<IEnumerable<DiscordPartialGuild>>("api/guilds");

        if (guilds == null) return _navItems;
        
        foreach (DiscordPartialGuild guild in guilds)
        {
            _navItems.Add(new NavItem
            {
                Id = guild.Id.ToString(),
                IconName = IconName.GearFill,
                Text = guild.Name
            });
            _navItems.Add(new NavItem
            {
                Id = $"{guild.Id}_1",
                ParentId = guild.Id.ToString(),
                IconName = IconName.AlphabetUppercase,
                Text = "Wordle settings",
                Href = $"/guilds/{guild.Id}/wordle"
            });
            _navItems.Add(new NavItem
            {
                Id = $"{guild.Id}_2",
                ParentId = guild.Id.ToString(),
                IconName = IconName.MicFill,
                Text = "Temporary VC settings",
                Href = $"/guilds/{guild.Id}/tempVC"
            });
            _navItems.Add(new NavItem
            {
                Id = $"{guild.Id}_3",
                ParentId = guild.Id.ToString(),
                IconName = IconName.ShieldFill,
                Text = "Staff settings",
                Href = $"/guilds/{guild.Id}/staff"
            });
        }

        return _navItems;
    }

}

@* ReSharper restore InconsistentNaming *@