@using Blink3.Core.DiscordAuth.Extensions
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <Dropdown>
            <DropdownToggleButton Color="ButtonColor.Secondary">@(context.User.GetDisplayName())</DropdownToggleButton>
            <DropdownMenu>
                <DropdownItem @onclick="Logout">Logout</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </Authorized>
    <NotAuthorized>
        <Button Color="ButtonColor.Secondary" @onclick="Login">Login</Button>
    </NotAuthorized>
</AuthorizeView>

@code{

    private void Login(EventArgs args)
    {
        Navigation.NavigateTo("/login");
    }

    private void Logout(EventArgs args)
    {
        Navigation.NavigateTo("/logout");
    }

}