@page "/"
@using Blink3.Web.Configuration
@using Microsoft.Extensions.Options

<PageTitle>Home</PageTitle>

<h1>Blink3</h1>

Very early preview of Blink3

<Button Type="ButtonType.Link"
        Color="ButtonColor.Primary"
        class="d-block mt-3"
        To="@InstallUrl">
    Install
</Button>

@code {
    [Inject] private IOptions<AppOptions> Config { get; set; } = default!;
    private string InstallUrl => $"https://discord.com/oauth2/authorize?client_id={Config.Value.ClientId}";
}