@page "/todo"
@using Blink3.Web.Interfaces
@using Blink3.DataAccess.Entities

<PageTitle>Todo list</PageTitle>
<h1 class="border-bottom">Todo list</h1>
@foreach (UserTodo todo in Todos)
{
    <ul class="list-group list-group-horizontal rounded-0 bg-transparent border-bottom">
        <li class="list-group-item d-flex align-items-center px-0 py-1 rounded-0 border-0 bg-transparent">
            <div class="form-check">
                @if (todo.Complete)
                {
                    <input
                        class="form-check-input me-0"
                        type="checkbox"
                        aria-label="@todo.Label"
                        checked />
                }
                else
                {
                    <input
                        class="form-check-input me-0"
                        type="checkbox"
                        aria-label="@todo.Label" />
                }
            </div>
        </li>
        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
            <p class="lead fw-semibold mb-0">@todo.Label
                @if (todo.Description is not null)
                {
                    <br/><small class="fw-normal">@todo.Description</small>
                }
            </p>
        </li>
        <li class="list-group-item px-0 py-1 rounded-0 border-0 bg-transparent">
            <div class="d-flex flex-row justify-content-end mb-1 h-100">
                <a href="#" class="my-auto"><Icon Name="IconName.TrashFill" Color="IconColor.Danger" Size="IconSize.x4"></Icon></a>
            </div>
        </li>
    </ul>
}

@code {
    private IReadOnlyCollection<UserTodo> Todos { get; set; } = [];

    [Inject] public ITodoHttpRepository TodoHttpRepository { get; set; } = null!;
    
    protected override async Task OnInitializedAsync()
    {
        Todos = await TodoHttpRepository.GetAsync();
    }
}