@page "/guilds/{GuildId}/Wordle"

<PageTitle>Wordle settings</PageTitle>

<h1 class="border-bottom mb-2 pb-2">Wordle settings</h1>

@GuildId

@code {
    [Parameter] public string GuildId { get; set; }
}